extends layout

block content
    h1 Welcome back Tortorua! 

    ul
       li 
        a(href='/store/category/create') Create a new equipment category
       li
        a(href='/store/item/create') Create a new item listing
       li
        a(href='/store/itemcopy/create') Create a new item copy