extends layout

block content
    h1 #{title}

    form(action='' method='POST')
        label(for='name') Name:
        input#name.form-control(type='text' placeholder='Weapons, Potions, Armor, etc' name='name' value=(category===undefined ? '' : category.name))
        label(for='description') Description:
        textarea#description.form-control(rows="10" required='true' placeholder='Category description' name="description") #{category===undefined ? '' : category.description}
        //- label(for='picture') Choose an image (optional):
        //- input#picture.form-control(type='file' name='picture' accept='image/*')
        button#submit Submit

    
    if errors
       ul
        for error in errors
            li!= error.msg 
        