extends layout

block content
    h1 #{title} 
    p We carry a variety of adventuring goods in the following categories: 

    for category in category_list
        .category-list
            h4
                a(href=category.url) #{category.name} 
            p #{category.description}
            