extends layout

block content
    h1 #{title}

    form(action='' method='POST')
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='Weapons, Potions, Armor, etc' name='name' required='true')
        label(for='description') Description:
        textarea#description.form-control(rows="10" required='true' placeholder='Category description' name="description")
        button#submit Submit
    
    if errors
       ul
        for error in errors
            li!= error.msg 
        