extends layout

block content
    .header
        nav
            h1 #{title}
            a(href="/store/category/create") Add New Category

    p We carry a variety of adventuring goods in the following categories: 

    .category-list
    for category in category_list
            .category-list-item
                header
                    h2
                        a(href=category.url) #{category.name}
                .content
                    p #{category.description}
            