doctype html
html

    head 
        meta(charset="utf-8")
        title The Wandering Turtle Equipment Emporium
        link(rel="stylesheet" href='/stylesheets/style.css')
    body
        header
            nav
                a(href="/") 
                    img(src='/images/logo.png')
                a(href="/store/categories") Categories
                a(href="/store/items") Items
                a(href="/store/itemcopies") All Item Copies
                if (currentUser)
                    a(href="/logout") Log Out
                else
                    a(href="/login") Log In
                    
        main
            block content

        footer
            p The Wandering Turtle Equipment Emporium

