* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba(233, 197, 130, 0.966);
  display: grid;
  grid-template-rows: 50px 1fr 70px;
  grid-template-areas:
    "h h h h h h"
    "s s s s s s"
    "s s s s s s"
    "s s s s s s"
    "f f f f f f";
  grid-gap: 10px;
}

header {
  grid-area: h;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

a {
  margin: 5px 10px;
}

a:first-of-type {
  margin-right: auto;
  font-size: 2em;
  text-decoration: none;
}


main {
  grid-area: s;
  padding: 20px;
}

.category-list {
  border: 2px solid black;
}

footer {
  grid-area: f;
  text-align: center;
  padding: 10px;
}