* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "h h h h h h"
    "s s s s s s"
    "s s s s s s"
    "s s s s s s"
    "f f f f f f";
  grid-gap: 10px;
}

header {
  grid-area: h;
  background: greenyellow;
  display: flex;
  align-items: center;
  border-bottom: 1px solid darkgreen;

}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

nav a {
  margin: 5px 10px;
}

nav a:first-of-type {
  margin-right: auto;
  font-size: 2em;
  text-decoration: none;
}

nav img {
  padding-top: 10px;
}

main {
  grid-area: s;
  padding: 20px;
  
}

.category-list {
  border: 2px solid black;
}

.item-detail {
  border: 1px solid black;
}


footer {
  grid-area: f;
  text-align: center;
  padding: 10px;
}


/* Forms */

form {
  border: 2px solid black;
  background: purple;
  color: white;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input, label, textarea {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 1em;
}

input, textarea {
  padding: 5px;
}

form button {
  width: 20%;
  font-size: 1.2em;
  border-radius: 5px;
  align-self: center;
}