@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font: 14px 'Open Sans', sans-serif;
  display: grid;
  background: rgba(155, 97, 21, 0.555);
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "h h h h h h"
    "s s s s s s"
    "s s s s s s"
    "s s s s s s"
    "f f f f f f";
  grid-gap: 10px;
}

header {
  grid-area: h;
  background: rgb(167, 201, 115);
  display: flex;
  align-items: center;
  border-bottom: 1px solid darkgreen;
  font-family: 'Germania One', cursive
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

nav a {
  margin: 5px 10px;
  text-transform: uppercase;
  font-size: 1.75em;
  color: rgb(5, 85, 5);
}

nav a:hover {
  color: white;
}

nav a:first-of-type {
  margin-right: auto;
  text-decoration: none;
}

nav img {
  padding-top: 10px;
}

p {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

main {
  grid-area: s;
  padding: 20px;
  background-image: url('/public/images/turtle.png');
  overflow: auto;
}

.main {
  display: flex;

}

.content {
  flex: 2;
}

.img {
  flex: 1;
  position: relative;
}

.img img {
  width: 100%;
}

.category-list-item {
  border: 1px solid darkgreen;
  margin-bottom: 10px;
}

.category-list-item header {
  padding: 10px;
  background-image: url('http://cliparts.co/cliparts/rTj/rbz/rTjrbz76c.png');
}

.category-list-item header a {
  color: white;
}

.content {
  padding: 10px;
  background: white;
}

.header nav {
  display: flex;
  font-size: 1.5em;
  align-items: center;
}

.header nav a {
  margin-left: auto;
  align-self: flex-end;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.header nav a:hover, .header a:hover, .foot a:hover {
  color: black;
}

.header {
  display: flex;
  align-items: center;
}

.header a {
  text-transform: uppercase;
  margin-left: 10px;
  color: darkgreen;
}

.header h1 {
  margin-right: auto;
}


.inventory-lists, .category-detail, .item-detail {
  background: white;
  margin-top: 10px;
}

.inventory-lists h3, .category-detail h2, .item-detail h2 {
  background-image: url('http://cliparts.co/cliparts/rTj/rbz/rTjrbz76c.png');
  font-family: 'Germania One', cursive;
  padding: 10px;
  font-size: 2em;
  color: white;
}

.inventory-lists ul {
  padding: 10px;
  list-style-type: url('');
}

.main {
  padding: 10px;
}

.foot a {
  float: right;
  padding: 10px;
  color: darkgreen;
}

footer {
  grid-area: f;
  text-align: center;
  padding: 10px;
  background: rgb(167, 201, 115);
  color: rgb(5, 85, 5);
}




/* Forms */

form {
  margin-top: 10px;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(165, 173, 152);
  border-radius: 10px;
  border: 1px solid darkgreen;
}

input, label, textarea, select {
  width: 100%;
  margin: 5px 0;
  font-size: 1em;
}

label {
  font-weight: 600;
}

input, textarea {
  padding: 5px;
}

form button {
  width: 20%;
  color: white;
  padding: 5px;
  background: darkgreen;
  margin-top: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  align-self: center;
}

form button:hover{
  color: black;
  background: rgb(167, 201, 115);
}